.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 55, 148);
    color: white;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-radius: 1rem; */
}

.handlePwd {
    box-shadow: 0 0 2rem black;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    width: 50%;
    margin: auto;
    border-radius: .7rem;
    padding: .7rem;
}

.handlePwd:hover{
    box-shadow: 0 0 4rem rgb(4, 6, 113);
    transition: .5s;

}


.up{
    /* border: none;
    outline: none;
    width: 98%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem .5rem;
    font-weight: bolder;
    background: rgb(174, 104, 34);
    border-radius: 3rem;
    box-shadow: 0 0 .4rem black; */

    display: flex;
    justify-content: center;
    background-color: rgb(219, 89, 191); /* Change to your desired color */
    color: white;            /* Text color */
    border: none;            /* Remove border */
    padding: 10px 20px;      /* Add padding */
    border-radius: 5px;      /* Rounded corners */
    cursor: pointer;
}

.up:hover{
    /* transition: .5s;
    background:red ; */
    display: flex;
    justify-content: center;
        box-shadow: 0 0 4rem rgb(102, 152, 22);
        transition: .5s;
    

}  

.can{
    background-color: rgb(228, 81, 186); /* Change to your desired color */
    color: white;            /* Text color */
    border: none;            /* Remove border */
    padding: 10px 20px;      /* Add padding */
    border-radius: 5px;      /* Rounded corners */
    cursor: pointer;
    display: flex;
    justify-content: center;

}
.can:hover{
    box-shadow: 0 0 4rem rgb(102, 152, 22);
        transition: .5s;
        display: flex;
    justify-content: center;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 55, 148);
    color: white;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-radius: 1rem; */
}

.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: rgb(138, 147, 14);
    box-shadow: 0 0 2rem black;
 } 

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    box-shadow: 0 0 2rem rgb(129, 75, 75);
    padding: 4rem;
    border-radius: 2rem;

}



